.GameKey2{line-height:24px;padding:5px 0;overflow:hidden}
.GameKey2 span{font-weight:bold;line-height:18px;overflow:hidden;margin-right:4px;}
.GameKey2 .ico_c_mouseleft,.GameKey2 .ico_c_mousescroll,.GameKey2 .ico_c_mousemove,.GameKey2 .ico_c_drag,
.GameKey2 .ico_c_alt,.GameKey2 .ico_c_enter,.GameKey2 .ico_c_shift,.GameKey2 .ico_c_ctrl,.GameKey2 .ico_c_tab,.GameKey2 .ico_c_end,.GameKey2 .ico_c_space,
.GameKey2 .ico_c_left,.GameKey2 .ico_c_right,.GameKey2 .ico_c_up,.GameKey2 .ico_c_down,.GameKey2 .ico_c_lr,.GameKey2 .ico_c_ud,.GameKey2 .ico_c_wasd,.GameKey2 .ico_c_arrows,.PlayKey,.player1,.player2,.player3,.player4,.GameKey2 .ico_c_blank{height:23px;background:url(/images/p2016/icon-keyboard.png) no-repeat;display:inline-block;vertical-align:middle}
.GameKey2 .ico_key{width:24px;height:23px;font-weight:bold;text-align:center;font:bold 9px/18px Verdana,Arial,Helvetica,sans-serif;color:#363636;background:url(/images/p2016/icon-keyboard.png) 0 -552px no-repeat;padding-top:5px;vertical-align:middle;display:inline-block}
.GameKey2 .ico_c_mouseleft{width:24px;height:30px;background-position:4px 3px}
.GameKey2 .ico_c_mousescroll{width:24px;height:32px;background-position:3px -28px}
.GameKey2 .ico_c_mousemove{width:24px;height:32px;background-position:2px -63px}
.GameKey2 .ico_c_drag{width:24px;height:32px;background-position:0 -98px}
.GameKey2 .ico_c_alt{width:41px;height:28px;background-position:0 -134px}
.GameKey2 .ico_c_enter{width:52px;height:28px;background-position:0 -166px}
.GameKey2 .ico_c_shift{width:52px;height:28px;background-position:0 -198px}
.GameKey2 .ico_c_ctrl{width:41px;height:28px;background-position:0 -230px}
.GameKey2 .ico_c_tab{width:41px;height:28px;background-position:0 -262px}
.GameKey2 .ico_c_end{width:41px;height:28px;background-position:0 -294px}
.GameKey2 .ico_c_space{width:78px;height:28px;background-position:0 -326px}
.GameKey2 .ico_c_left{width:24px;height:28px;background-position:0 -358px}
.GameKey2 .ico_c_right{width:24px;height:28px;background-position:0 -390px}
.GameKey2 .ico_c_up{width:24px;height:28px;background-position:0 -422px}
.GameKey2 .ico_c_down{width:24px;height:28px;background-position:0 -454px}
.GameKey2 .ico_c_blank{width:24px;height:28px;background-position:0 -550px}
.GameKey2 .ico_c_lr{width:55px;height:28px;background-position:0 -486px}
.GameKey2 .ico_c_ud{width:55px;height:28px;background-position:0 -518px}
.GameKey2 .ico_c_wasd{width:53px;height:32px;background-position:0 -586px;overflow:hidden}
.GameKey2 .ico_c_arrows{width:53px;height:32px;background-position:0 -626px}
.GameKey2 .PlayKey{height:28px;width:98px;background-position:0px -761px;font-size:0px}
.GameKey2 .player1,.GameKey2 .player2,.GameKey2 .player3,.GameKey2 .player4{height:23px;width:69px;font-size:0px;line-height:23px;float:left;margin-top:5px}
.GameKey2 .player1{background-position:0px -702px}
.GameKey2 .player2{background-position:0px -728px}
.GameKey2 .player3{background-position:0px -754px}
.GameKey2 .player4{background-position:0px -780px}
.GameKey2 .GameKey2Divide{color:red;height:1px}
.GameKey2 .GameKey2Spliter{color:green;height:1px}
.GameKey2 em{font-style:normal;display:block;float:left;height:32px;white-space:nowrap}
.GameKey2 ul{float:left;width:750px}
.GameKey2 li{float:left;display:inline;height:32px;margin-right:5px;white-space:nowrap}